#!/usr/bin/env bash

cd {{ home_dir }}

for task in "$@"; do
  if [ ! -f "{{ lock_dir }}/${task}" ]; then
    echo "Loading ${task}"
    echo y | {{ python }} {{ manage }} ${task}
    touch "{{ lock_dir }}/${task}"
  else
    echo "Skipping ${task}"
  fi
done

cd {{ app_dir }}

if [ ! -f "{{ lock_dir }}/load_price" ]; then
  echo "Loading pricing data from ESJ"
  {{ celery }} -A {{ alliance_auth.app_name }} call moonmining.tasks.run_calculated_properties_update
  touch "{{ lock_dir }}/load_price"
else
  echo "Skipping loading price from ESI"
fi
