#!/usr/bin/env bash

cd {{ home_dir }}

for task in "$@"; do
  if [ ! -f "{{ lock_dir }}/${task}" ]; then
    echo "Loading ${task}"
    echo y | {{ python }} {{ manage }} ${task}
    touch "{{ lock_dir }}/${task}"
  else
    echo "Skipping ${task}"
  fi
done
